html
    title Broadcast-2-GoogleHome
    body
        h1 Broadcast-2-GoogleHome how it works.

        if !GoogleHomeIP
            div(style={color: 'red'}) Google Home IP not set, please change in config.json
        else
            div Google Home IP:  #{GoogleHomeIP}

        div Webserver Port:  #{WebserverPort}

            if !SecretKey
                div(style={color: 'red'}) Secret: not set, please change in config.json
            else
                div Secret:  Set !

        div IP adress:  #{IP}
        br
        div URL to use in Domoticz: http://localhost:5555/#FIELD1/#SUBJECT/#MESSAGE
        div Fill Secret key from Config into #FIELD1 in Domoticz